<html>
  <head>
    <title>Prueba de HTML en Correos Electrónicos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  </head>
  <body>
    <div class="container d-flex justify-content-center align-items-center vw-100 vh-100">
      <div class="row col-sm-6 bg-dark p-5 rounded text-white">
        <form id="formulario">
          <h2>Prueba de HTML en Correos Electrónicos</h2>
          <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="email" required>
          </div>
          <div class="mb-3">
            <label for="html" class="form-label">HTML</label>
            <textarea class="form-control" id="html" rows="8"></textarea>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-success" type="submit">Enviar</button>
          </div>
        </form>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script type="text/javascript">
      var form = document.getElementById("formulario");
      var email = document.getElementById("email");
      var html = document.getElementById("html");

      form.addEventListener("submit", function (e) {
        e.preventDefault();

        fetch('/send', {
          method: "POST",
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            to: email.value,
            html: html.value
          })
        })
        .then(function (response) {
          return response.ok ? response.json() : Promise.reject();
        })
        .then(function () {
          alert('Correo enviado');
        })
        .catch(function () {
          alert('Ocurrió un error al enviar el correo electrónico, verifica los datos');
        })
      });
    </script>
  </body>
</html>